# Ignore AI models
Models/
*.pt
*.pth
*.h5

# Python caches
__pycache__/
*.pyc

# Virtual environments
venv/
env/
.env

# MacOS
.DS_Store

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
